@import url('https://fonts.googleapis.com/css2?family=Nunito:ital@1&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color:#66DE93;
}

.main{
    padding-bottom:2rem;
}

h1{
    text-transform: uppercase;
    font-family: 'Nunito', sans-serif;
}

.bg-custom{
    background-color:#FF616D;
}





